*{
    margin: 0;
    padding: 0;
}
body{
    background: url("images/white.jpg") no-repeat center center fixed;
    background-size: cover;
}
.content h1{
    font-size: 55px;
    border-bottom: 5px solid cadetblue;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
    color: darkblue;
}


.contact{
font-size: 30px;
color:rgb(6, 95, 95);
}

.image1{
    height: 225px;
    width: 125px;
    margin-top: 40px;
    margin-left: 250px;
}

.image2{
    height: 175px;
    width: 220px;
    
    
    margin-top: 50px;
    margin-left: 270px;
    
    
}
.image3{
    height: 170px;
    width: 230px;
    margin-top: 40px;
    margin-left: 259px;
}

.image4{
    height: 170px;
    width: 230px;
    margin-top: 75px;
    margin-left: 250px;
}
.p{
    margin-top: 300px;
}
.image5{
    height: 150px;
    width: 400px;
    margin-top: 75px;
    margin-left: 100px;
}

.image6{
    height: 200px;
    width: 175px;
    margin-top: 100px;
    margin-left: 175px;
}